body {
  margin: 0;
  font-family: var(--font-sans);
  background: var(--color-bg);
  color: var(--color-text-light);
  min-height: 100vh;
}


a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: 600;
  color: var(--color-primary);
}